body{
    background-color:#87ded0;
}

.input{
    display: grid;
    grid-template-areas: 
    "first"
    "second";
    max-width: 100px;
    grid-gap: 10px;
}
.input input {
    border-radius: 5px;
}
.first{
    grid-area: frist;
}
.second{
    grid-area: second;   
    margin-bottom: 10px;
}

.buttons{
    display: grid;
    grid-template-areas: 
    "plus minus exp"
    "divide pow percent";
    max-width: 300px;
    grid-gap: 10px;
}
.plus{
    grid-area: plus;
    max-width: 30px;
    background-color: wheat;
    color: black;
    border-radius: 5px;
}
.minus{
    color: black;
    background-color: wheat;
    grid-area: minus;
    max-width: 30px;
    border-radius: 5px;
}
.exp{
    color: black;
    background-color: wheat;
    grid-area: exp;
    max-width: 30px;
    border-radius: 5px;
}
.divide{
    color: black;
    background-color: wheat;
    grid-area: divide;
    max-width: 30px;
    border-radius: 5px;
}
.pow{
    color: black;
    background-color: wheat;
    grid-area: pow;
    max-width: 30px;
    border-radius: 5px;
}
.percent{
    color: black;
    background-color: wheat;
    grid-area: percent;
    max-width: 30px;
    border-radius: 5px;
}
.result{
    color: black;
    background-color: wheat;
    border-radius: 5px;
}

.output{
    color: aliceblue;
}